body {
  padding: 56px;
}
.rect {
  width: 150px;
  height: 150px;
  background-color: red;
}
.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  animation: jackInTheBox 1s ease-in-out infinite;
}
